    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Open Job Application</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    
                    
                    <div class="apply_job_form white-bg">
                        <h4>spontaneous application</h4>
                        <form [formGroup]="candidature">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="text" placeholder="Your name" formControlName="name">
                                    </div>
                                    <div *ngIf="candidature.controls['name'].invalid&&(candidature.controls['name'].touched||candidature.controls['name'].dirty)" >
                                        <div *ngIf="candidature.controls['name'].errors?.['required']" style="color: crimson;"  >
                                          Name is required
                                        </div>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="text" placeholder="Email" formControlName="email">
                                    </div>
                                    <div *ngIf="candidature.controls['email'].invalid&&(candidature.controls['email'].touched||candidature.controls['email'].dirty)" >
                                        <div *ngIf="candidature.controls['email'].errors?.['required']" style="color: crimson;"  >
                                          Email is required
                                        </div>
                                        <div *ngIf="candidature.controls['email'].errors?.['email']" style="color: crimson;"  >
                                            Email invalid
                                          </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                        <input type="text" placeholder="Job title" formControlName="jobtitle">
                                    </div>
                                    <div *ngIf="candidature.controls['jobtitle'].invalid&&(candidature.controls['jobtitle'].touched||candidature.controls['jobtitle'].dirty)" >
                                    <div *ngIf="candidature.controls['jobtitle'].errors?.['required']" style="color: crimson;"  >
                                        Job Title is required
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                        <input type="text" placeholder="LinkedIn link" formControlName="linkedin">
                                    </div>
                                    <div *ngIf="candidature.controls['jobtitle'].invalid&&(candidature.controls['jobtitle'].touched||candidature.controls['jobtitle'].dirty)" >
                                    <div *ngIf="candidature.controls['linkedin'].errors?.['required']" style="color: crimson;"  >
                                        LinkedIn Link is required
                                      </div>
                                      </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                          </button>
                                        </div>
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                                          <label class="custom-file-label" for="inputGroupFile03">Upload CV</label>
                                        </div>
                                        
                                      </div>
                                </div> 
                                <div class="col-md-12">
                                    <div class="input_field">
                                        <textarea name="#" id="" cols="30" rows="10" placeholder="Coverletter"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="submit_btn">
                                        <button class="boxed-btn3 w-100" type="submit" (click)="apply()">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
